.services {
  margin-bottom: 120px;
  &__list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    background-color: #f4f4f4;
  }
  &__image {
    // margin-bottom: 16px;
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      max-height: 152px;
      object-fit: cover;
    }
  }
  &__details {

    padding: 16px 24px;
  }
  &__name {
    margin: 0;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    color: #131313;
  }
  &__text {
    margin: 0;
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }
}

@media (max-width: 950px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
}

@media (max-width: 650px) {
  .services {
    margin-bottom: 70px;
  }
  .services__list {
    grid-template-columns: 1fr;
}
}
